window {
margin: 0px;
border: 2px solid #c678dd;
border-radius: 5px;
background-color: #282c34;
font-family: JetBrains Mono;
font-size: 12px;
}

#input {
margin: 5px;
border: 1px solid #282c34;
color: #c0caf5;
background-color: #282c34;
}

#input image {
	color: #c0caf5;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282c34;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282c34;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
} 

#entry:selected {
	background-color: #abb2bf;
	font-weight: normal;
	color: #282c34;
}

#text:selected {
	background-color: #abb2bf;
	font-weight: normal;
	color: #282c34;
}
